nodes-exported.txt
[{"id":"17238617.657892","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3906307b.1f85a","type":"cloudant out","z":"17238617.657892","name":"CloudantDB","cloudant":"","database":"test","service":"GSteinfeld-IridAssetTracker-cloudantNoSQLDB","payonly":true,"operation":"insert","x":350,"y":200,"wires":[]},{"id":"7df77c10.338ac4","type":"http in","z":"17238617.657892","name":"Block7-15433","url":"assetTrack","method":"post","upload":true,"swaggerDoc":"","x":90,"y":60,"wires":[["2b49c45f.2f790c","4c19a8aa.50214"]]},{"id":"2b49c45f.2f790c","type":"http response","z":"17238617.657892","name":"OK 200 response","statusCode":"200","headers":{},"x":350,"y":80,"wires":[]},{"id":"10363cbe.4120e3","type":"debug","z":"17238617.657892","name":"parsed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":140,"wires":[]},{"id":"4c19a8aa.50214","type":"function","z":"17238617.657892","name":"parse Hex to ASCII","func":"function hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; i < hex.length; i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\n\nmsg.payload.txt = hex2a(msg.payload.data);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":140,"wires":[["3906307b.1f85a","10363cbe.4120e3"]]}]
